# object code
*.o
*.obj
*.object_code

# 動態連結函式庫
*.dll
*.so

# 靜態連結函式庫
*.lib
*.a

# Following taken from https://github.com/github/gitignore/blob/master/CMake.gitignore
# MIT license
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

!.gitignore